


#LoginForm{

  padding-left: 10%;
  padding-right: 10%;

}

#appNavBar{

  margin-bottom: 30px;

  
}

.card{
  margin-bottom: 1.5rem;
}
#searchFormSection{

  margin-bottom: 20px;
}
.post-list{
  margin-top: 20px;
}

#post-img{

  max-height:100%; 
  max-width:100%

}